<h2> List of Employees </h2>

<table class="table table-striped">

        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>

        <tbody>
            <tr *ngFor = "let employee of employees">
                <td> {{employee.id}} </td>
                <td> {{employee.firstName}} </td>
                <td> {{employee.lastName}} </td>
                <td> {{employee.email}} </td>
                <td>
                    <button type="button" (click)="updateEmployee(employee.id)" class="btn btn-success">Update</button>
                    &nbsp;
                    <button type="button" (click)= "deleteEmployee(employee.id)" class="btn btn-danger">Delete</button>
                    &nbsp;
                    <button type="button" (click)= "viewDetails(employee.id)" class="btn btn-outline-info">Details</button>
                </td>
            </tr>
        </tbody>

</table>
